<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hepta.rxposed.nativeloader">

<!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"-->
<!--        tools:ignore="QueryAllPackagesPermission" />-->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".LoaderApplication"
        android:theme="@style/Theme.Rxposed">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".textActivity"></activity>
        <service
            android:name=".RxposedTextService"
            android:enabled="true"
            android:isolatedProcess="true"
            android:exported="true" />


        <meta-data
            android:name="rxmodule"
            android:value="true" />
        <meta-data
            android:name="rxposed_clsentry"
            android:value="hepta.rxposed.loadxposed.XposedEntry" />

        <meta-data
            android:name="rxposed_mtdentry"
            android:value="Entry" />
    </application>




</manifest>