allow zygote ashmem_device chr_file { open }
allow zygote activity_service service_manager { find }
allow zygote system_server binder { call transfer }
allow system_server zygote binder {  transfer }
allow zygote servicemanager binder { call }